{% extends 'base.html' %}
{% block content %}
<h2>Employees</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th><th>Name</th><th>Email</th><th>Position</th><th>Department</th>
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}
    <tr>
      <td>{{ e.id }}</td>
      <td>{{ e.first_name }} {{ e.last_name }}</td>
      <td>{{ e.email }}</td>
      <td>{{ e.position }}</td>
      <td>{{ e.department }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
